* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

#displayArea,
#addArea {
  width: 30%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.scoreBoard {
  margin-top: 0.4em;
  border: 2px solid black;
  border-radius: 5px;
}

li,
input {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.scoresList li:nth-child(even) {
  background-color: gray;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  margin: 20px 0;
}

.scoreItem {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

button {
  padding: 5px;
}

#submit {
  display: flex;
  justify-content: right;
}

.visible {
  animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}

#notification {
  background: #f0cc04;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  left: -250px;
}

@keyframes movein {
  from { left: -200%; }
  to { left: 50%; }
}

@keyframes moveout {
  from { left: 10px; }
  to { left: -200%; }
}
