* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

#displayArea,
#addArea {
  width: 40%;
  padding: 5px;
}

#addArea {
  margin-left: 100px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}

.scoreBoard {
  margin-top: 0.4em;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 5px;
}

li,
input {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.scoresList li:nth-child(even) {
  background-color: rgb(20, 163, 1);
  color: white;
}

.scoresList li:nth-child(odd) {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

input[type="text"],
input[type="number"] {
  width: 50%;
  margin: 20px 0;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgb(207, 205, 205);
}

.scoreItem {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

button {
  -webkit-appearance: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  color: rgb(184, 181, 181);
  border: 1px solid rgb(214, 212, 212);
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
}

button:hover {
  color: rgb(59, 59, 59);
}

#submit {
  display: flex;
  justify-content: center;
  padding: 3px;
  margin-right: 6em;
}

.visible {
  animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}

#notification {
  background: #f0cc04;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  left: -250px;
}

@keyframes movein {
  from { left: -200%; }
  to { left: 50%; }
}

@keyframes moveout {
  from { left: 10px; }
  to { left: -200%; }
}

.background-img {
  height: auto;
  text-align: center;
  background-image: url(https://assets-global.website-files.com/58475a9…/58574e6…_bg.svg);
  background-position: 50% 0;
  background-size: cover;
  margin-top: 0;
}
